<h1><%= @task.title %></h1>
<p><%= @task.details %></p>
<p><%= @task.completed ? 'This task is completed' : 'This task is not completed yet'%></p>
<%= link_to 'Edit task', task_edit_path(@task.id) %>
<%= link_to 'Back to tasks list', tasks_path %>
