<div class="container">
<h1><%= @task.title %></h1>

<div class="details">
<p><%= @task.details %></p>
</div>

<p class="completed">
<% if @task.completed %>
  <%= icon('far', 'check-square') %> This task is completed
<% else %>
  <%= icon('far', 'square') %> This task is not completed yet
<% end %>
</p>

<div class="btn btn-secondary">
<%= link_to 'Edit task', edit_task_path(@task.id) %>
</div>
<hr>
<%= link_to tasks_path do %>
<%= icon('fas', 'undo') %> Back to tasks list
<% end %>
</div>
